<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  PdfUtil - Passwords
            Provides a pipe separated list of passwords to decrypt encrypted PDF files.
            Default value: ""
            -->
      <setting name="PdfUtil.Security.Passwords" set:value=""/>
    </settings>
  </sitecore>
</configuration>